.DS_Store
.atom/
.idea
.packages
.pub/
build/
ios/.generated/
packages
pubspec.lock

\.vscode/

android/\.classpath

android/\.project

android/\.settings/org\.eclipse\.buildship\.core\.prefs

# coverage
coverage
lcov.info